@use 'mixins/media-query.scss' as mq;

.card {
    display: flex;
    flex-direction: column;
    padding: 18px;
    align-items: center;

    @include mq.media-query(sm) {
        flex-direction: row;        
    }

    .card-title {
        font-size: 16px;
        font-weight: bold;
    }

    .card-value {
        font-size: 16px;
        margin-top: 8px;
    }

    .card-actions {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;

        @include mq.media-query(sm) {
            justify-content: flex-end;            
            margin-left: auto;
            margin-top: 0px;
        }
    }
}