<mat-card class="card">
    <div>

        <ng-container *isIncome="transaction().type; else elseTemplate">
            É ganho
        </ng-container>

        <ng-template #elseTemplate>
            É gasto
        </ng-template>    

        <div class="card-icon income-icon"></div>

        <div class="card-title">
            {{ transaction().title }}
        </div>

        <div class="card-value">
            <app-transaction-valeu [transaction]="transaction()"/>
        </div>
    </div>

    <div class="card-actions">
       <button matButton="filled" matButtonColor="error" (click)="remove.emit(transaction())" >Remover</button>     
       <button matButton="filled" (click)="edit.emit(transaction())">Editar</button>
    </div>
</mat-card>
