.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income {
    color: var(--custom-color-success);                   
}

.outcome {
    color: var(--mat-sys-error);
}

.zero {
    color: var(--mat-sys-secondary)
}