<form [formGroup]="form()" (ngSubmit)="submit()">    

    <div class="mb-24">
        <mat-button-toggle-group formControlName="type">
            <mat-button-toggle [value]="transactionType.OUTCOME">Gasto</mat-button-toggle>
            <mat-button-toggle [value]="transactionType.INCOME">Ganho</mat-button-toggle>        
        </mat-button-toggle-group>
    
        @if (form().controls.type.hasError('required')) {
            <mat-error>Campo Obrigatório</mat-error>
        } 
    </div>


    <mat-form-field>
        <mat-label>Título</mat-label>
        <input
        matInput
        placeholder="Digite o título da transação"
        formControlName="title"      
        required
        />

        @if (form().controls.title.hasError('required')) {
            <mat-error>Campo Obrigatório</mat-error>
        } 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Valor</mat-label>
            <input
                matInput                 
                placeholder="Digite o valor da transação"
                formControlName="value"      
                required
                mask="separator.2"             
            />
            <span matTextPrefix>R$ &nbsp;</span>

            @if (form().controls.value.hasError('required')) {
                <mat-error>Campo Obrigatório</mat-error>
            } 
    </mat-form-field>
    <div class="submit-container">
        <button type="submit" mat-flat-button="filled" [disabled]="form().invalid">Salvar</button>
    </div>
</form>
