@use 'variables' as vars;


.toolbar {
    display: flex;    

    .toolbar-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;        
    } 
    
}
