<div class="actions">
     <app-search class="search" [(searchTerm)]="serchTerm"></app-search>
     <a class="add-transaction" matButton="filled" routerLink="create/new">Adicionar Transação</a>
</div>

<app-transactions-container class="transactions" [transactions]="items()">
    <ng-template #item let-item="item">
       <app-transaction-item class="transaction" 
            [transaction]="item" 
            (edit)="edit($event)"
            (remove)="remove($event)"
            >
        </app-transaction-item>        
    </ng-template>

    <ng-template #noItems>
       <app-no-transactions/>
    </ng-template>
</app-transactions-container>

