<div class="actions">
     <app-search class="search" [(searchTerm)]="searchTerm"></app-search>
     <a class="add-transaction" matButton="filled" routerLink="create/new">Adicionar Transação</a>
</div>


@if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}@else {
    <app-transactions-container class="transactions" [transactions]="transactions()">
        <ng-template #item let-item="item">
           <app-transaction-item class="transaction" 
                [transaction]="item" 
                (edit)="edit($event)"
                (remove)="remove($event)"
                >
            </app-transaction-item>        
        </ng-template>
    
        <ng-template #noItems>
           <app-no-transactions/>
        </ng-template>
    </app-transactions-container>
}


