@use 'mixins/media-query' as mq;

.transactions {
    margin: 24px 0;
}

.transaction {
    display: block;
    margin-bottom: 12px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;

    .search {
       order: 2;       
    }

    .add-transaction {
        order: 1;
        margin-bottom: 24px;     
    }

    @include mq.media-query(sm) {
      flex-direction: row;      

      .search {
        order: 1;       
      }

      .add-transaction {
        order: 2;       
        margin-left: auto;        
    }
}
    
}