.chart-container{
    margin-top: 24px;    
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    flex-wrap: wrap;
}