@use 'sass:map';

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px
);

@mixin media-query($bp){
    @media screen and (min-width: map.get($breakpoints, $bp)) {
        @content;
        
    }

}